<button (click)="open(content)">
  Agregar Datos de Uusario
</button>
<div class="form1">
<table class="table">
  <thead>
    <tr>
      <th>nombre:</th>
      <th>email:</th>
      <th>user:</th>
      <th>age:</th>
    </tr>
    <tr *ngFor="let item of collection.data ">
      <td>{{item.nombre}}</td>
      <td>{{item.email}}</td>
      <td>{{item.user}}</td>
      <td>{{item.age}}</td>
    </tr>
    <tr>
      <th>ci:</th>
      <th>gender:</th>
      <th>address:</th>
      <th>cp:</th>
    </tr> 
    <tr *ngFor="let item of collection.data ">
      <td>{{item.ci}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.address}}</td>
      <td>{{item.cp}}</td>
      <!-- <td>
        <button type="button"  (click)="openEditar(content,item)">Editar</button>
        <button type="button"  (click)="eliminar(item)">Eliminar</button>
      </td> -->
    </tr>  
    <tr *ngFor="let item of collection.data ">
      <td>
        <button type="button" class="button-edi"  (click)="openEditar(content,item)">Editar Datos de Usuario</button>
        <button type="button" class="button-eli"  (click)="eliminar(item)">Eliminar Datos de Usuario</button>
      </td>
    </tr>  
     
  </thead>
  <tbody>
  </tbody>
</table>

      <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">

                <form [formGroup]="userForm">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>email</label>
                    <input type="text" formControlName="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>user</label>
                    <input type="text" formControlName="user" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>age</label>
                    <input type="number" formControlName="age" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>ci</label>
                    <input type="number" formControlName="ci" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>gender</label>
                    <input type="text" formControlName="gender" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>address</label>
                    <input type="text" formControlName="address" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>cp</label>
                    <input type="number" formControlName="cp" class="form-control">
                  </div>

                </form>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="guardarUser()" *ngIf="!actualizar">Save</button>
            <button type="button" class="btn btn-outline-dark" (click)="actualizarUser()" *ngIf="actualizar">Actualizar</button>
          </div>
        </ng-template>
</div>
