.form1{
  position: absolute;
  border: solid;
  width: 50%;
  margin-left: 25%;
  margin-top: -24%;
  padding: 1%;
}

button{
  background: #6AB8E3;
  margin-top: 33%;
  margin-left: 6%;
}

.button-edi{
  background: #049ef1;
  margin-top: 0%;
  margin-left: 6%;
}

.button-eli{
  background: #ff0a0a;
  margin-top: 2%;
  margin-left: 6%;
}

.btn-send {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #6AB8E3;
    border-bottom: 2px solid #6AB8E3;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 15px;
    &:hover:not([disabled]) {
      background: #6AB8E3;
    }
  }

 input[type="text"],
 input[type="email"],
 textarea {
  -webkit-transition: all 0, 30s ease-in-out;
  transition: all 0, 30s ease-in-out;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;

  &:focus {
    -webkit-box-shadow: 0 0 5px #6AB8E3;
    box-shadow: 0 0 5px #6AB8E3;
    padding: 3%;
    border: 1px solid #6AB8E3;
  }
}

  .alert-danger {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
  }

  .container-error-message {
    padding: 3px;
  }


@media screen and (max-width: 720px){
form{
    position: relative;
    border: solid;
    width: 91%;
    margin-left: 3%;
    margin-top: 70%;
    padding: 1%;
    height: 63%;
}
.btn-send {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #6AB8E3;
    border-bottom: 2px solid #6AB8E3;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 15px;
    &:hover:not([disabled]) {
      background: #6AB8E3;
    }
  }

 input[type="text"],
 input[type="email"],
 textarea {
  -webkit-transition: all 0, 30s ease-in-out;
  transition: all 0, 30s ease-in-out;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;

  &:focus {
    -webkit-box-shadow: 0 0 5px #6AB8E3;
    box-shadow: 0 0 5px #6AB8E3;
    padding: 3%;
    border: 1px solid #6AB8E3;
  }
}

  .alert-danger {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
  }

  .container-error-message {
    padding: 3px;
  }

}

