<div class="form">
    <form action="/" autocomplete="off">
        <label for="nombre">Nombre Completo:</label>
        <input type="text" id="nombre" name="nombre"><br><br>
        <label for="email">Correo:</label>
        <input type="email" id="email" name="email" autocomplete="off"><br><br>
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario"><br><br>
        <label for="edad">Edad:</label>
        <select name="edad" id="edad">
            <option value="26">26</option>
            <option value="50">50</option>
            <option value="30">30</option>
            <option value="19">19</option>
        </select>
        <br><br>
        <label for="cedula">Cedula:</label>
        <input type="text" id="cedula" name="cedula"><br><br>
        <label for="tlf">Numero de Telefono:</label>
        <input type="text" id="tlf" name="tlf"><br><br>
        <label for="genero">Genero:</label>
        <select name="genero" id="genero">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
        </select>
        <br><br>
        <label for="direccion">Direccion:</label>
        <input type="text" id="direccion" name="direccion"><br><br>
        <label for="ciudad">Ciudad:</label>
        <select name="ciudad" id="ciudad">
            <option value=""></option>
            <option value=""></option>
        </select>
        <br><br>
        <label for="estado">Estado:</label>
        <select name="estado" id="estado">
            <option value=""></option>
            <option value=""></option>
        </select>
        <br><br>
        <label for="codigo">Codigo Postal:</label>
        <input type="text" id="codigo" name="codigo"><br><br>
      </form>
</div>