<div class="car-view">
    <h2>vehiculos</h2>
    <mat-paginator [length]="carList.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[1]"
              (page)="getPaginatorData($event)">
    </mat-paginator>
    <h2 *ngIf="userType === 'manager'">Solicitudes Pendientes</h2>
    <h2 *ngIf="userType === 'client'">Vehiculos Activos</h2>
    <ng-container *ngFor="let car of (carList | slice: lowValue : highValue)">
        <app-car-view [userType]="userType" [car]="car"></app-car-view>
    </ng-container>
</div>
<!--<div *ngIf="carList.length == 0" class="car-queue">
    <span>el usuario no tiene vehiculos registrados</span>
</div>-->

