<div class="contactdiv">

    <ul class="formulario-contacto">

        <li class="loco">
            <p class="informaciondecontacto">INFORMACIÓN DE CONTACTO</p>
            <p>0412222222</p>
            <p>taller@gmail.com</p>

        </li>
        <li class="loco2">
            <form>
                <div class="form-group">
                    <label for="firstName">Nombre y apellido</label>
                    <input class="firstName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="firstName">Correo electronico</label>
                    <input class="firstName" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="firstName">Telefono</label>
                    <input class="firstName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="comment">Mensaje</label>
                    <textarea id="comment" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <button class="btn btn-primary">ENVIAR</button>
            </form>

        </li>
    </ul>
</div>