<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="contactdiv">

    <ul class="formulario-contacto">

        <li class="loco">
            <p class="informaciondecontacto">INFORMACIÓN DE CONTACTO</p>
            <p>0212-963-0304</p>
            <p>gaborui.motors@gmail.com</p>

        </li>
        <li class="loco2">
            <form class="form-contacto" [formGroup]="contactform" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">Nombre y apellido</label>
                    <input required pattern="" class="firstName" type="text" class="form-control" formControlName="nombre">
                    <!-- <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                        <div *ngIf="firstName.errors!.required">El nombre y apellido son obligatorios</div>
                        <div *ngIf="firstName.errors!.minlength">El nombre y apellido deben ser minimo 3 caracteres</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="firstName">Correo electrónico</label>
                    <input required pattern="" class="firstName" type="email" class="form-control" formControlName="email">
                    <!-- <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                        <div *ngIf="firstName.errors!.required">El correo es obligatorio</div>
                        <div *ngIf="firstName.errors!.minlength">El correo deben ser minimo 3 caracteres</div>
                        <div *ngIf="firstName.errors!.maxlength">El correo deben ser maximo 10 caracteres</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="firstName">Teléfono</label>
                    <input required pattern="" class="firstName" type="text" class="form-control" formControlName="telefono">
                    <!-- <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                        <div *ngIf="firstName.errors!.required">El telefono es obligatorio</div>
                        <div *ngIf="firstName.errors!.minlength">El telefono deben ser minimo 3 caracteres</div>
                        <div *ngIf="firstName.errors!.maxlength">El telefono deben ser maximo 10 caracteres</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="comment">Mensaje</label>
                    <textarea required pattern="" id="comment" cols="30" rows="5" class="form-control" formControlName="mensaje"></textarea>
                    <!-- <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                        <div *ngIf="firstName.errors!.required">El mensaje son obligatorios</div>
                        <div *ngIf="firstName.errors!.minlength">El mensaje deben ser minimo 3 caracteres</div>
                        <div *ngIf="firstName.errors!.maxlength">El mensaje deben ser maximo 10 caracteres</div>
                    </div> -->
                </div>
                <div class="divbutton">

                    <button class="enviar-button" action="https://formspree.io/jhoelanexo@gmail.com" type="submit">ENVIAR</button>
                </div>
            </form>
        </li>
    </ul>
</div>