@import "../../../styles/components/car-view.scss";


.grid-wrapper {
    height: 90em;
    padding: 3em;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 100%;
}

h2 {
    font-family: $primary-font;
    text-transform: uppercase;
}

.input-data-container {
    padding: 1em ;
    width: 33%;
}

.input-container-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 2em;
    text-align: central;
    text-transform: capitalize;
    border: 2px solid $primary-color;
}

.data-wrapper {
    display: flex;
    width: 90%;
    text-align: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.grid-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

mat-grid-tile {
    display: flex;
    align-content: center;
    border: 2px solid $primary-color;
    height: 60%;
}

