@import "../../../styles/components/car-view.scss";


.grid-data-cars {
    background-color: #fff;
    width: 100%;
}

span {
    background-color: yellow;
    display: flex;
    border: 2px solid #1C1A1A;
    text-transform: capitalize;
    width: 60%;
    height: 10%;
    align-items: center;
}

mat-grid-tile {
    background-color: yellowgreen;
    display: flex;
    justify-content: right;
    width: 50%;
    border: 2px solid #1C1A1A
}