@import "../../../styles/components/car-view.scss";


.input-data-container {
    padding: 1em 3em;
}

.input-container-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 2em;
    text-align: central;
    text-transform: capitalize;
    border: 2px solid #1C1A1A;
}

.data-wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

mat-grid-tile {
    background-color: lightcoral;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    height: 40%;
    border: 2px solid #1C1A1A
}

