<div>
    <mat-grid-list cols="4">
        <mat-grid-tile colspan="1">
            
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div class="data-wrapper">
                <div class="input-data-container">
                    <h3 class="auth-label">marca</h3>
                    <span class="input-container-data">{{car.brand}}</span>
                </div>
                <div class="input-data-container">
                    <h3 class="auth-label">modelo</h3>
                    <span class="input-container-data">{{car.model}}</span>
                </div>
                <div class="input-data-container">
                    <h3 class="auth-label">modelo</h3>
                    <span class="input-container-data">{{car.model}}</span>
                </div>
            </div>
            <div class="data-wrapper">
                <div class="input-data-container">
                    <h3 class="auth-label">año</h3>
                    <span class="input-container-data">{{car.year}}</span>
                </div>
                <div class="input-data-container">
                    <h3 class="auth-label">año</h3>
                    <span class="input-container-data">{{car.year}}</span>
                </div>
                <div class="input-data-container">
                    <h3 class="auth-label">año</h3>
                    <span class="input-container-data">{{car.year}}</span>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            {{car.year}}
        </mat-grid-tile>
    </mat-grid-list>
</div>
