@import "../../../styles/components/buttons.scss";
@import "../../../styles/Lib/variables.scss";
@import "../../../styles/Lib/mixins.scss";

.auth-label-largo {
    text-align: center;
    margin: auto;
    font-family: $secondary-font;
    text-transform: uppercase;
    width: 100%;
}

.images {
  margin: auto;
    display: flex;
    justify-content: center;
    max-height: 65vh;
}
.images {
  display: flex;
  justify-content: center;
  max-height: 65vh;
}

.center{
  display: none;
}

body{
    margin: 0;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
  }

.ahora {
  //position: absolute;
  left: 16px;
  transition: 1s;
}

h2 {
    font-family: $primary-font;
    color: $third-color;
   font-size: 4em; 
   text-transform: uppercase;
   font-weight: 800;
   letter-spacing: 3px;
   text-shadow: 4px 4px 10px $primary-color;
}

  .slider{
    position: relative;
    width: 85%;
    height: 94%;
    border-radius: 0px;
    overflow: hidden;
  }
  
  .slides{
    width: 600%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 85%;
    height: 120%;
    filter: brightness(80%);
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .manual-btn{
    border: 3px solid $primary-color;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    border: 3px solid $secondary-color;
    background: $secondary-color;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }

  @media only screen and (max-width: 768px) {

    .center{
      display: none;
    }
    
    body{
      margin: 0;
      padding-top: 5%;
      padding-bottom: 5%;
      height: 60vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $primary-color;
    }
  
  .ahora {
    position: absolute;
    top: 8px;
    left: 16px;
    transition: 1s;
  }
  
  h2 {
     font-family: $primary-font;
     color: $third-color;
     font-size: 4em; 
     text-transform: uppercase;
     font-weight: 800;
     letter-spacing: 3px;
     text-shadow: 4px 4px 10px $primary-color;
  }
  
    .slider{
        position: relative;
      width: 100%;
      height: 94%;
      border-radius: 0px;
      overflow: hidden;
    }
    
    .slides{
      width: 600%;
      height: 500px;
      display: flex;
    }
    
    .slides input{
      display: none;
    }
    
    .slide{
      width: 20%;
      transition: 2s;
    }
    
    .slide img{
      width: 85%;
      height: 120%;
      filter: brightness(80%);
    }
    
    /*css for manual slide navigation*/
    
    .navigation-manual{
        position: absolute;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    
    .manual-btn{
      border: 3px solid $primary-color;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
    }
    
    .manual-btn:not(:last-child){
      margin-right: 40px;
    }
    
    .manual-btn:hover{
      border: 3px solid $secondary-color;
      background: $secondary-color;
    }
    
    #radio1:checked ~ .first{
      margin-left: 0;
    }
    
    #radio2:checked ~ .first{
      margin-left: -20%;
    }
    
    #radio3:checked ~ .first{
      margin-left: -40%;
    }
    
    #radio4:checked ~ .first{
      margin-left: -60%;
    }
    
  }

  @media only screen and (max-width: 414px) {
  
    body{
      display: none;
    }

  .center {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    padding-bottom: 1%;
  }

  .block1{
    padding-top: 20%;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
  }
    
}
  }

  @media only screen and (width: 320px) {
    
    body{
      display: none;
    }

  .center {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    padding-bottom: 1%;
  }

  .block1{
    padding-top: 20%;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
  }
    
}
  }