<div class="auth-form form-column">
    <div class="auth-form-wrapper">
            <h1 class="h1-center">Añadir Un Nuevo Vehiculo</h1>
            <form
            [formGroup]="carForm"
            class="form-container"
            (ngSubmit)="onSubmit()"
            >
            <!-- POST TITLE -->
            

            <div class="input-container">
                <mat-label class="auth-label">marca:</mat-label>
                <mat-select placeholder="Honda" formControlName="brand" [(ngModel)]="selectedValue" name="car">
                <mat-option  *ngFor="let car of carBrands" [value]="car.value">
                    {{car.viewValue}}
                </mat-option>
                </mat-select>
            </div>

            <!-- POST SUMMARY -->
            <div class="input-container">
                <label class="auth-label" for="summary">modelo:</label>
                <input
                type="text"
                id="summary"
                placeholder="Fiesta"
                formControlName="model"
                class="auth-input"
                >
            </div>

            <!-- POST DESCRIPTION -->
            <div class="input-container">
                <label class="auth-label" for="description">año:</label>
                <input
                type="text"
                id="description"
                placeholder="2010"
                formControlName="year"
                class="auth-input"
                >
            </div>

            <!-- POST PHOTO -->
            <div class="input-container">
                <label class="auth-label" for="photo">placa:</label>
                <input
                type="text"
                id="photo"
                placeholder="aaa11a"
                formControlName="plate"
                class="auth-input"
                />
            </div>

            <!-- POST CATEGORY -->
            <div class="button-wrapper">
                <div class="button-container">
                    <button type="submit" class="button" >
                        Crear vehiculo
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
