
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<footer>
    <div class="foot1">
        <div>
            <div class="title">Direccion</div>
            <div class="normal">Chacaito, Av. 2</div>
            <div class="normal">Caracas, Venezuela</div>
        </div>
        <div>
            <div class="title">Contacto</div>
            <div class="normal">0212 963 0304</div>
            <div class="normal">+58 412 900 9917</div>
        </div>
        <div>
            <div class="title">Redes</div>
            <div>
                <img class="insta" src="../../../assets/5a3a218028bee4.08902542151375910416693143.png">
                        <a class="normal" href="https://www.instagram.com/" target="_blank">@GaboruiMotors</a>
            </div>
            <div>
                <img class="face" src="../../../assets/descarga.png">
                        <a class="normal" href="https://www.facebook.com/" target="_blank">Gaborui Motors</a>
            </div>
        </div>
    </div>

    <div class="center">
        <div class="foot2">
            <ul>
                <div>
                    <h4 class="title">Direccion</h4>
                    <div class="text">Chacaito, Av. 2</div>
                    <div class="text">Caracas, Venezuela</div>
                </div>
                <div>
                    <h4 class="title">Contacto</h4>
                    <div class="text">0212 963 0304</div>
                    <div class="text">+58 412 900 9917</div>
                </div>
                <div>
                    <h4 class="title">Redes</h4>
                    <div><img class="insta" src="../../../assets/5a3a218028bee4.08902542151375910416693143.png">
                        <a class="text" href="https://www.instagram.com/" target="_blank">@GaboruiMotors</a>
                    </div>
                    <div ><img class="face" src="../../../assets/descarga.png">
                        <a class="text" href="https://www.facebook.com/" target="_blank">Gaborui Motors</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>

</footer>