
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<footer>
    <ul class="info-list">
        <div class="list-element">
            <ol>
                <div class="title">
                    <h5>Direccion</h5>
                </div>
                <div class="normal">
                    Chacaito, Av. 2
                </div>
                <div class="normal">
                    Caracas, Venezuela
                </div>
            </ol>
        </div>
        <div class="list-element">
           <ol>
                <div class="title">
                    <h5>Contacto</h5>
                </div>
                <div class="normal">
                    0212 963 0304
                </div>
                <div class="normal">
                    +58 412 900 9917
                </div>
            </ol> 
        </div>
        <div class="list-element">
            <ol>
                <div class="title">
                    <h5>Redes</h5>
                </div>
            <div class="normal image-media">
                <img class="insta" src="../../../assets/5a3a218028bee4.08902542151375910416693143.png"> 
                <a href="https://www.instagram.com/" target="_blank">@GaboruiMotors</a>
            </div>
            <div class="normal image-media">
                <img class="face" src="../../../assets/descarga.png">
                <a href="https://www.facebook.com/" target="_blank">Gaborui Motors</a> 
                </div>
            </ol>
        </div>
        
    </ul>
</footer>