<html>
    <head>
        <link href="footer.component.scss" rel="stylesheet">
    </head>
    <body>

    </body>
    <footer>
        <ul>
            <ol>Direccion<div class="normal">Chacaito, Av. 2</div><div class="normal">Caracas, Venezuela</div></ol>
            <ol>Contacto<div class="normal">0212 963 0304</div><div class="normal">+58 412 900 9917</div></ol>
            <ol>Redes<div class="normal"><img class="insta" src="../../../assets/5a3a218028bee4.08902542151375910416693143.png"> @GaboruiMotors</div>
                <div class="normal"><img class="face" src="../../../assets/descarga.png"> Gaborui Motors</div></ol>
            
        </ul>
    </footer>
</html>