@import "../../../styles/Lib/variables.scss";

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $third-color;
    width: 100%;
    height: 32%;
    margin: 0px;
    font-size: 35px;
    letter-spacing: 5px;
}

.title {
    margin-bottom: 12%;
}

h5 {
    font-family: $primary-font;
    margin: 6% 0 0 0;
    font-size: x-large;
    color: $third-color;
    text-transform: uppercase;
}

.normal{ 
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    font-family: $secondary-font;
    align-items: center;
    text-align: left;

    &.image-media{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3%;
    }
}

/* 5a3a218028bee4 1 */
.insta{
    height: 30px;
    width: 30px;
}

.face{
    /* kisspng-facebook-marshall-jr-high-school-icon-facebook-5a8707dda3d7c6 1 */
    height: 30px;
    width: 30px;
}

a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: $third-color;
}

.info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 0em 1em;
}

.list-element {
    text-align: left;
    display: flex;
    justify-content: left;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        color: $third-color;
        width: 105%;
        height: 32%;
        margin: 0px;
        font-size: 20px;
        letter-spacing: 2.5px;
    }
    
    .normal{ 
        font-size: 12.5px;
        line-height: 20px;
        font-weight: 500;
        font-family: $secondary-font;
        align-items: center;
        text-align: left;
    
        &.image-media{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3%;
        }
    }
}
