<div class="headerprueba"> navbar</div>
<div class="aver">
    <ul class="fila1">
        <li><img src="../../../assets/foto1galeria.jpeg" alt="fotodegaleria" class="foticosgaleria"></li>
        <li><img src="../../../assets/foto2galeria.jpg" alt="fotodegaleria" class="foticosgaleria"></li>
        <li><img src="../../../assets/foto3galeria.jpg" alt="fotodegaleria" class="foticosgaleria"></li>
        <li><img src="../../../assets/foto4galeria.jpg" alt="fotodegaleria" class="foticosgaleria"></li>
    </ul>
    <ul class="fila1">
        <li><img src="../../../assets/foto5galeria.jpg" alt="fotodegaleria" class="foticosgaleria"></li>
        <li><img src="../../../assets/foto6galeria.jpg" alt="fotodegaleria" class="foticosgaleria"></li>
        <li><img src="../../../assets/foto7galeria.png" alt="fotodegaleria" class="foticosgaleria"></li>
        <li><img src="../../../assets/foto8galeria.jpg" alt="fotodegaleria" class="foticosgaleria"></li>
    </ul>
</div>
<div class="a">

    <div class="footerprueba"> footer</div>
</div>