@import '../../../styles/Lib/variables.scss';

body {
    margin: 0;
}

.quienes {
    height: 100vh;
}

.pages-wrapper {
    clear: both;
    display: block;
}

.see{

}
.see2{
   
}

@media only screen and (min-width:769px){
    .see{
        display: none;
    }
    .see2{
        background-color: $primary-color;
    }
}

@media only screen and (max-width:768px){ 
    .see{
        background-color: $primary-color;
    }
    .see2{
        display: none;
    }
}
