<nav class="menu" id="navbarContainer">
    <a [routerLink]="['/']" class="logo">
        <img src="../../../assets/logo ejwhite.png" alt="Gaboruilogo" height="100%">
    </a>

    <ul class="navbar">
        <!--id menucontainer-->
        <li class="active">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li *ngIf="user">
            <a [routerLink]="['/user/posts']">Perfil</a>
        </li>
        <li *ngIf="user">
            <a [routerLink]="['/user/posts']">Vehiculos</a>
        </li>
        <li *ngIf="user">
            <a [routerLink]="['/user/posts']">Citas</a>
        </li>
        <li *ngIf="user-meca">
            <a [routerLink]="['/user/posts']">Vehiculos</a>
        </li>
        <li *ngIf="user-gerente">
            <a [routerLink]="['/user/posts']">Citas</a>
        </li>
        <li *ngIf="user-gerente">
            <a [routerLink]="['/user/posts']">Calendario</a>
        </li>
        <li *ngIf="user-gerente">
            <a [routerLink]="['/user/posts']">Ordenes</a>
        </li>
        <li *ngIf="user-gerente">
            <a [routerLink]="['/user/posts']">Reportes</a>
        </li>
        <li *ngIf="!user">
            <a [routerLink]="['/categories']">Nosotros</a>
        </li>
        <li *ngIf="!user">
            <a [routerLink]="['/contact']">Contacto</a>
        </li>
        <li *ngIf="!user">
            <a [routerLink]="['/contact']">Ubicación</a>
        </li>
        <li class="login" *ngIf="!user">
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li class="sign-up" *ngIf="!user">
            <a [routerLink]="['/sign-up']">Sign Up</a>
        </li>
        <li class="user-info" *ngIf="user">
            <p>{{ user.displayName }}</p>
            <img [src]="
            user.photoURL
              ? user.photoURL
              : 'https://support.grasshopper.com/assets/images/care/topnav/default-user-avatar.jpg'
          " class="photo" />
        </li>
        <li class="logout" *ngIf="user">
            <button type="button" (click)="logout()">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Letter_x.svg/569px-Letter_x.svg.png" alt="logoutimg">
        </button>
        </li>
    </ul>
</nav>