h2{
    font-family: 'Poppins', sans-serif;
    color: #F9F9F9;
    text-align: center;
}
h4{
    font-family: 'Poppins', sans-serif;
    color: #000;
}
.contador{
    border: solid;
    background: #fff;
    margin: 5%;
    width: 50%;
}
.num{
    border: solid;
    background: #fff;
    width: 12%;
    margin: 5%;
    margin-top: -24.4%;
    margin-left: 56%;
    height: 67px;
    text-align: center;
}
.num2{
    border: solid;
    background: #fff;
    width: 12%;
    margin: 5%;
    margin-top: -19.7%;
    margin-left: 56%;
    height: 68px;
    text-align: center;
}
.citas{
    border: solid;
    width: 37%;
    margin-top: -39%;
    margin-left: 32%;
    height: 520px;
    background: #6AB8E3;
    border-color: #fff;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}
.ordenes{
    border: solid;
    width: 28%;
    margin-top: -39%;
    margin-left: 69.5%;
    height: 260px;
    background: #6AB8E3;
    border-color: #fff;
    border-top-right-radius: 5%;
}
.reportes{
    border: solid;
    width: 28%;
    margin-left: 69.5%;
    height: 254px;
    background: #6AB8E3;
    border-color: #fff;
    border-bottom-right-radius: 5%;
}