<app-username></app-username>
<div class="gerente">
    <div class="citas">
        <h2>Citas</h2>
        <div class="contador">
            <h4>pendientes</h4>
        </div>
        <div class="num2">
            <h4>12</h4>
        </div>
        <div class="contador">
            <h4>por confirmar</h4>
        </div>
        <div class="num2">
            <h4>12</h4>
        </div>
        <div class="contador">
            <h4>solicitudes</h4>
        </div>
        <div class="num2">
            <h4>12</h4>
        </div>
    </div>
    <div class="ordenes">
        <h2>Ordenes de Reparacion</h2>
        <div class="contador">
            <h4>pendientes</h4>
        </div>
        <div class="num">
            <h4>12</h4>
        </div>
    </div>
    <div class="reportes">
        <h2>Reportes</h2>
        <div class="contador">
            <h4>pendientes</h4>
        </div>
        <div class="num">
            <h4>12</h4>
        </div>
        <div class="contador">
            <h4>solicitudes</h4>
        </div>
        <div class="num">
            <h4>12</h4>
        </div>
    </div>
</div>