<div class="usuario">
    <div class="foto">
        <div class="foto-usuario">
            <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png' "> 
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
              </label>
              <br/>
              <input id="fileInput" type='file' (change)="onSelectFile($event)">
        </div>

        <!-- <div>
            <h1>Upload Images</h1>
            <input type="file" accept="image/*" (change)="onSelectFile($event)">
            <img [src]="(featuredPhotoStream | async)?.url1  " alt="Featured Photo 1">
        </div>  -->

        <label for="id" *ngFor="let item of collection.data ">{{item.nombre}}</label>
         
    </div>
    <app-formulario></app-formulario>
    <div class="bton">
        <label for="cita">Pedir una cita</label>
        <app-boton></app-boton>
    </div>
    <div class="barra">
        <label for="cita">Vehiculos Registrados</label>
        <progress id="file" value="32" max="100"> 32% </progress>
    </div>
    
</div>