@import "../../../styles/components/buttons.scss";
@import "../../../styles/Lib/variables.scss";

.car-list-wrapper{
    height: 90%;
    width: 100%;
}

.button-container {
    text-align: right;
    margin-bottom: 1%;
    width: 100%;
}
