@import "../../../styles/components/buttons.scss";
@import "../../../styles/Lib/variables.scss";
@import "../../../styles/Lib/mixins.scss";
.car-list-wrapper {
    height: 90%;
    width: 100%;
    @include small-phone {
        margin-top: 10%;
        // margin-bottom: -50%;
    }
}

.button-container {
    text-align: right;
    margin-bottom: 1%;
    width: 100%;
    padding: 0%;
}