@import "../../../styles/components/buttons.scss";
@import "../../../styles/Lib/variables.scss";
@import "../../../styles/Lib/mixins.scss";
.car-list-wrapper {
    height: 100vh;
    width: 100%;
    @include small-phone {
        margin-top: 10%;
        // margin-bottom: -50%;
    }
}

.button-container {
    text-align: right;
    margin-bottom: 1%;
    width: 100%;
    padding: 0%;
}

.seccion-pagina {
    margin-bottom: 10%;
    @include small-phone {
        margin-top: 50%;
    }
}