@import "../../../styles/components/text-boxes.scss";
@import "../../../styles/components/car-view.scss";
@import "../../../styles/components/buttons.scss";
@import "../../../styles/Lib/variables.scss";
.paginator {
    width: 100%;
    height: 7%;
    padding-bottom: 2%;
    // agregue esto porque antes ocupaba el 100% del width
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

button {
    text-transform: uppercase;
    background-color: $primary-color;
    color: white;
}

.btn-img {
    margin: 2%;
}

.upload-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.circular--landscape {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.image-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
}

mat-paginator {
    background-color: $secondary-color;
    font-family: $third-font;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    // agregue esto porque antes ocupaba el 100% del width
    width: 95%;
}

.button-wrapper {
    width: 80em;
}

.auth-label {
    padding: 0%;
    margin: 2%;
}

h2 {
    font-family: $primary-font;
    color: $primary-color;
    text-transform: uppercase;
    text-align: center;
    margin-left: 2.5%;
}

.component-container {
    height: 98%;
    display: flex;
    flex-direction: column;
}

.ngcont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.boton-crear {
    display: flex;
    justify-content: center;
}

ng-container {
    height: 90%;
    display: flex;
    flex-direction: column;
}

mat-grid-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 94%;
    height: auto;
}

mat-grid-tile {
    border: 2px solid $primary-color;
    height: 20%;
    // font-family: $primary-font;
}

.title-wrapper {
    text-align: center;
    font-family: $primary-font;
}

.grid-flex {
    width: 100%;
    height: auto;
}

.image {
    width: 100%;
    border-radius: 1%;
}

.input-container-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: central;
    text-transform: capitalize;
    border: 2px solid $primary-color;
    padding: 1% 0%;
    margin: 0%;
    font-family: $primary-font;
    &.longer {
        height: 40%;
        padding-bottom: 2%;
    }
}

.data-wrapper {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    padding: 0%;
    margin: 0%;
}

.container-texto {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding: 0%;
    margin: 0%;
}

.input-data-container {
    padding: 0% 1%;
    width: 33%;
}

//ahora viene el form
mat-select {
    width: 47%;
}

.auth-form {
    margin: 0;
    padding: 0;
    height: 90%;
}

.auth-form-wrapper {
    padding: 0% 3%;
}

.datos-manager-wrapper {
    height: 96.5%;
}

.form-new {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.car-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 44em;
    background-color: $secondary-color;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.butto-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: 60%;
}

.submi-button {
    color: $third-color;
    padding: 3%;
    text-transform: uppercase;
    background-color: $primary-color;
    width: 60%;
    cursor: pointer;
}

.auth-input {
    display: flex;
    justify-content: right;
    margin-left: 1.5em;
    font-family: $secondary-font;
    font-weight: 400;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    &.correo {
        text-transform: lowercase;
    }
    &.active {
        background-color: powderblue;
    }
}