<!--<div class="form-container">
    <div class="title-wrapper">
        <div>
            <h2>orden de reparacion</h2>
        </div>
    </div>
    <form [formGroup]="orderForm">
        <div class="form-wrapper">
            <div class="data-wrapper">
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">cliente </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="ownerName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">mecanico </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="mechanicName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">gerente </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="managerName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fecha de Emision</mat-label>
                        <input formControlName="date" matInput [matDatepicker]="picker">
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <button mat-raised-button (click)="picker.open()">ABRIR</button>
                </div>
                <div class="input-data-container-new">
                    <div class="textarea-container">
                        <div class="auth-label-largo">
                            <label for="displayName">diagnostico </label>
                        </div>
                        <textarea
                        type="text"
                        id="displayName"
                        formControlName="diagnosis"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="diagnosis"
                            ></textarea>
                        </div>
                    </div>
                    <div class="textarea-container">
                        <div class="auth-label-largo">
                            <label for="displayName">repuestos comprados </label>
                        </div>
                        <textarea
                        type="text"
                        id="displayName"
                        formControlName="partsNeeded"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="displayName"
                            ></textarea>
                        </div>
                    </div>
                    <div class="textarea-container">
                        <div class="auth-label-largo" >
                            <label for="displayName">procedimiento aplicado </label>
                        </div>
                        <textarea 
                        type="text"
                        id="displayName"
                        formControlName="processes"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="displayName"
                            ></textarea>
                        </div>
                        
                    </div>
                    <div class="input-data-container">
                        <label class="auth-label" for="displayName">costo total </label>
                        <input
                        type="text"
                        id="displayName"
                        placeholder="$1230.00"
                        formControlName="finalCost"
                        class="auth-input"
                        />
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>-->
<div class="content-wrapper">
    <div class="comp-wrapper" *ngIf="!verOrden">
        <div class="scan-wrapper">
            <button *ngIf="!escanear" (click)="escanear = true">Escanear Qr</button>
            <button *ngIf="escanear" (click)="escanear = false">Cerrar camara</button>
            <div class="scanner-image">
                <zxing-scanner *ngIf="escanear" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
            </div>
        </div>
        <div>
            <section *ngIf="qrResultString">
            <div class="scanner-image">
                <small>Result</small>
                <span>{{ qrResultString }}</span><br>
            </div>
            <button mat-icon-button (click)="clearResult()">&times;</button>
            </section>
        </div>
    </div>
    <button *ngIf="appointment && !verOrden" (click)="verOrden = !verOrden; escanear = !escanear">Ver orden</button>
    <button *ngIf="appointment && verOrden" (click)="verOrden = !verOrden; escanear = !escanear">Escanear otro qr</button>
    <div class="list-wrapper" *ngIf="verOrden">
        <div>
            <p>{{appointment.userName}}</p>
            <p>{{car.brand}}</p>
            <p>{{car.model}}</p>
            <p>{{car.year}}</p>
            <p>{{car.plate}}</p>
        </div>

        <!--LISTA REPUESTOS-->
        <div>
            <h2>repuestos</h2>
            <button (click)="newPart()" *ngIf="verOrden && !addPart">Añadir repuesto</button>
            <button (click)="reLoadPartsList()" *ngIf="verOrden">recargar</button>
            <app-new-part-form *ngIf="addPart" [list]="transactions" [order]="orden" [app]="appointment"></app-new-part-form>
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="transactions">
                    <!-- Item Column -->
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Repuesto </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
            
                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="onEdit(row)"><mat-icon>delete_outline</mat-icon></button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
            </div>
        </div>

        <!--LISTA PROCEDIMIENTOS-->
        <div>
            <h2>procedimientos aplicados</h2>
            <button (click)="newProcess()" *ngIf="verOrden && !addProcess">Añadir procedimiento</button>
            <button (click)="reLoadProcessList()" *ngIf="verOrden">recargar</button>
            <app-new-part-form *ngIf="addProcess" [isProcess]="true" [list]="procesos" [order]="orden" [app]="appointment"></app-new-part-form>
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="procesos">
                    <!-- Item Column -->
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> procedimiento </th>
                        <td mat-cell *matCellDef="let procesos"> {{procesos.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
            
                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let procesos"> {{procesos.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalProcessCost() | currency}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="onEditProcess(row)"><mat-icon>delete_outline</mat-icon></button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
            </div>
        </div>


        <!--TEXTAREA DIAGNOSTICO-->
        <div class="textarea-container">
            <div class="auth-label-largo" >
                <h2>diagnostico</h2>
            </div>
            <textarea 
            type="text"
            id="displayName"
            ></textarea>
        </div>
        
    </div>
    
</div>

