<!--<div class="form-container">
    <div class="title-wrapper">
        <div>
            <h2>orden de reparacion</h2>
        </div>
    </div>
    <form [formGroup]="orderForm">
        <div class="form-wrapper">
            <div class="data-wrapper">
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">cliente </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="ownerName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">mecanico </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="mechanicName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">gerente </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="managerName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fecha de Emision</mat-label>
                        <input formControlName="date" matInput [matDatepicker]="picker">
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <button mat-raised-button (click)="picker.open()">ABRIR</button>
                </div>
                <div class="input-data-container-new">
                    <div class="textarea-container">
                        <div class="auth-label-largo">
                            <label for="displayName">diagnostico </label>
                        </div>
                        <textarea
                        type="text"
                        id="displayName"
                        formControlName="diagnosis"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="diagnosis"
                            ></textarea>
                        </div>
                    </div>
                    <div class="textarea-container">
                        <div class="auth-label-largo">
                            <label for="displayName">repuestos comprados </label>
                        </div>
                        <textarea
                        type="text"
                        id="displayName"
                        formControlName="partsNeeded"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="displayName"
                            ></textarea>
                        </div>
                    </div>
                    <div class="textarea-container">
                        <div class="auth-label-largo" >
                            <label for="displayName">procedimiento aplicado </label>
                        </div>
                        <textarea 
                        type="text"
                        id="displayName"
                        formControlName="processes"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="displayName"
                            ></textarea>
                        </div>
                        
                    </div>
                    <div class="input-data-container">
                        <label class="auth-label" for="displayName">costo total </label>
                        <input
                        type="text"
                        id="displayName"
                        placeholder="$1230.00"
                        formControlName="finalCost"
                        class="auth-input"
                        />
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>-->
<div class="content-wrapper">
    <div class="comp-wrapper" *ngIf="!verOrden && !ordenCerrada">

        <div class="dibujito">

            <img class="img-perfil" [src]="
                user.photoURL
                ? user.photoURL
                : 'https://support.grasshopper.com/assets/images/care/topnav/default-user-avatar.jpg'" alt="">
            <div class="div-palabra-manager">
                <p class="palabra-manager">Mecánico</p>
                <h2>{{username.name}}</h2>
            </div>

        </div>

        <div class="scan-wrapper">
            <button class="botonqr" *ngIf="!escanear" (click)="escanear = true">Escanear Qr</button>
        </div>
        <button class="botonqr camara" *ngIf="escanear" (click)="escanear = false">Cerrar cámara</button>
        <div class="scanner-image">
            <zxing-scanner *ngIf="escanear" (scanSuccess)="onCodeResult($event)" class="video"></zxing-scanner>
        </div>
        <!--<div class="resultclass">
            <section *ngIf="qrResultString" class="sectionresult">
            <div class="scanner-image2">
                <small>Result</small>
                <span>{{ qrResultString }}</span><br>
            </div>
            <button mat-icon-button (click)="clearResult()">&times;</button>
            </section>
        </div>-->
    </div>
    <!--<div class="verorden">
        <button *ngIf="appointment && !verOrden" (click)="verOrden = !verOrden; escanear = !escanear" class="submit-button">Ver orden</button>
    </div>-->
    <div class="otroqr">
        <button *ngIf="verOrden && !ordenCerrada" (click)="verOrden = !verOrden; escanear = !escanear" class="">Escanear otro qr</button>
    </div>
    <div class="list-wrapper" *ngIf="verOrden && !ordenCerrada">
        <div class="datoscliente">
            <app-car-form *ngIf="car != undefined" [car]="car"></app-car-form>
        </div>

        <!--LISTA REPUESTOS-->
        <div class="addrecargar" *ngIf="car != undefined">
            <h2>repuestos</h2>
            <div class="addrecargarhijo">
                <button (click)="newPart()" *ngIf="verOrden && !addPart" class="submit-button">Añadir repuesto</button>
                <button (click)="reLoadPartsList()" *ngIf="verOrden" class="submit-button">recargar</button>
            </div>
            <app-new-part-form *ngIf="addPart" (submited)="onSubmitedPart($event)" [list]="transactions" [order]="orden" [app]="appointment"></app-new-part-form>
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="transactions">
                    <!-- Item Column -->
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Repuesto </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="onEdit(row)"><mat-icon>delete_outline</mat-icon></button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
            </div>
        </div>

        <!--LISTA PROCEDIMIENTOS-->
        <div *ngIf="car != undefined" class="addrecargar">
            <h2>procedimientos aplicados</h2>
            <div class="addrecargarhijo">
                <button (click)="newProcess()" *ngIf="verOrden && !addProcess" class="submit-button">Añadir procedimiento</button>
                <button (click)="reLoadProcessList()" *ngIf="verOrden" class="submit-button">recargar</button>
            </div>
            <app-new-part-form *ngIf="addProcess" (submited)="onSubmitedPart($event)" [isProcess]="true" [list]="procesos" [order]="orden" [app]="appointment"></app-new-part-form>
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="procesos">
                    <!-- Item Column -->
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> procedimiento </th>
                        <td mat-cell *matCellDef="let procesos"> {{procesos.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let procesos"> {{procesos.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalProcessCost() | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="onEditProcess(row)"><mat-icon>delete_outline</mat-icon></button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
            </div>
        </div>


        <!--TEXTAREA DIAGNOSTICO-->
        <div *ngIf="car != undefined">
            <app-diagnosis-form [order]="orden" [appointment]="appointment"></app-diagnosis-form>
        </div>
        <div class="addrecargarhijo">
            <button (click)="endOrder()" *ngIf="verOrden" class="submit-button">Cerrar reparacion</button>
        </div>

        <div *ngIf="car != undefined">
            <app-mechanic-car-images [car]="car"></app-mechanic-car-images>
        </div>


    </div>




    <!--ESTA PARTE ES CUANDO LA ORDEN ESTA CERRADA-->
    <div class="otroqr">
        <button *ngIf="ordenCerrada" (click)="ordenCerrada = false; escanear = false" class="submit-button">Escanear otro qr</button>
    </div>
    <div class="list-wrapper" *ngIf="ordenCerrada">
        <div class="datoscliente">
            <app-car-form *ngIf="car != undefined" [ordenCerrada]="true" [car]="car"></app-car-form>
        </div>

        <!--LISTA REPUESTOS-->
        <div class="addrecargar" *ngIf="car != undefined">
            <h2>repuestos</h2>
            <div class="addrecargarhijo">
            </div>
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="transactions">
                    <!-- Item Column -->
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Repuesto </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
            </div>
        </div>

        <!--LISTA PROCEDIMIENTOS-->
        <div *ngIf="car != undefined" class="addrecargar">
            <h2>procedimientos aplicados</h2>
            <div class="addrecargarhijo">
            </div>
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="procesos">
                    <!-- Item Column -->
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> procedimiento </th>
                        <td mat-cell *matCellDef="let procesos"> {{procesos.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let procesos"> {{procesos.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalProcessCost() | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
            </div>
        </div>


        <!--TEXTAREA DIAGNOSTICO-->
        <div *ngIf="car != undefined">
            <app-diagnosis-form [ordenCerrada]="true" [order]="orden" [appointment]="appointment"></app-diagnosis-form>
        </div>

    </div>

</div>