<div class="form-container">
    <div class="title-wrapper">
        <div>
            <h2>orden de reparacion</h2>
        </div>
    </div>
    <form [formGroup]="orderForm">
        <div class="form-wrapper">
            <div class="data-wrapper">
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">cliente </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="ownerName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">mecanico </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="mechanicName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <label class="auth-label" for="displayName">gerente </label>
                    <input
                    type="text"
                    id="displayName"
                    placeholder="Carlos Garcia"
                    formControlName="managerName"
                    class="auth-input"
                    />
                </div>
                <div class="input-data-container">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fecha de Emision</mat-label>
                        <input formControlName="date" matInput [matDatepicker]="picker">
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <button mat-raised-button (click)="picker.open()">ABRIR</button>
                </div>
                <div class="input-data-container-new">
                    <div class="textarea-container">
                        <div class="auth-label-largo">
                            <label for="displayName">diagnostico </label>
                        </div>
                        <textarea
                        type="text"
                        id="displayName"
                        formControlName="diagnosis"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="diagnosis"
                            ></textarea>
                        </div>
                    </div>
                    <div class="textarea-container">
                        <div class="auth-label-largo">
                            <label for="displayName">repuestos comprados </label>
                        </div>
                        <textarea
                        type="text"
                        id="displayName"
                        formControlName="partsNeeded"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="displayName"
                            ></textarea>
                        </div>
                    </div>
                    <div class="textarea-container">
                        <div class="auth-label-largo" >
                            <label for="displayName">procedimiento aplicado </label>
                        </div>
                        <textarea 
                        type="text"
                        id="displayName"
                        formControlName="processes"
                        ></textarea>
                        <div class="text-costos">
                            <textarea 
                            type="text"
                            id="displayName"
                            ></textarea>
                        </div>
                        
                    </div>
                    <div class="input-data-container">
                        <label class="auth-label" for="displayName">costo total </label>
                        <input
                        type="text"
                        id="displayName"
                        placeholder="$1230.00"
                        formControlName="finalCost"
                        class="auth-input"
                        />
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>
