@import "../../../styles/Lib/variables.scss";
.mapsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: $secondary-color;
    font-size: 3em;
    font-family: $primary-font;
    margin-top: 10%;
}

.ulcosa {
    list-style: none;
    color: inherit;
    line-height: 130px;
    text-align: center;
}

.mapadegoogle {
    width: 830px;
    height: 420px;
    justify-content: center;
}

.center{
    display: none;
    justify-content: center;
    flex-direction: column;
    background-color: $secondary-color;
    padding-top: 10%;
    padding-bottom: 10%;
}

.block1 {
    display: none;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.block2 {
    display: none;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-bottom: 10%;
    color: $primary-color;
    font-family: $primary-font;
    font-size: 170%;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {

    .mapsdiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        background-color: $secondary-color;
        font-size: 3em;
        font-family: $primary-font;
    }
    
    .ulcosa {
        width: 100%;
        height: 100%;
        list-style: none;
        color: inherit;
        line-height: 130px;
        text-align: center;
    }
    
    .mapadegoogle {
        display: flex;
        justify-self: center;
        width: 95%;
        height: 300px;
    }

    .center{
        display: none;
        justify-content: center;
        flex-direction: column;
        background-color: $secondary-color;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .block1 {
        display: none;
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    .block2 {
        display: none;
        justify-content: center;
        width: 100%;
        height: 50%;
        margin-bottom: 10%;
        color: $primary-color;
        font-family: $primary-font;
        font-size: 170%;
        font-weight: 600;
    }
    
}

@media only screen and (max-width: 414px) {

    .mapsdiv {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65%;
        background-color: $secondary-color;
        font-size: 3em;
        font-family: $primary-font;
    }
    
    .ulcosa {
        width: 100%;
        height: 100%;
        list-style: none;
        color: inherit;
        line-height: 130px;
        text-align: center;
    }
    
    .mapadegoogle {
        display: flex;
        justify-self: center;
        width: 95%;
        height: 110%;
    }

    .center{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $secondary-color;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .block1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    .block2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        margin-bottom: 10%;
        color: $primary-color;
        font-family: $primary-font;
        font-size: 170%;
        font-weight: 600;
    }
}

@media only screen and (max-width: 320px) {

    .mapsdiv {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65%;
        background-color: $secondary-color;
        font-size: 3em;
        font-family: $primary-font;
    }
    
    .ulcosa {
        width: 100%;
        height: 100%;
        list-style: none;
        color: inherit;
        line-height: 130px;
        text-align: center;
    }
    
    .mapadegoogle {
        display: flex;
        justify-self: center;
        width: 95%;
        height: 110%;
    }

    .center{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $secondary-color;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .block1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    .block2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        margin-bottom: 10%;
        color: $primary-color;
        font-family: $primary-font;
        font-size: 170%;
        font-weight: 600;
    }
    
}