<div class="contactdiv">

    <ul class="formulario-contacto">
        <li class="loco2">
            <form>
                <button (click)="nuevo()">Nuevo</button>

                <div *ngIf="enableNewHijo">
                    <button (click)="enableNewHijo=false">X</button>
                    <div class="form-group">
                        <label for="nombre">Nombre y apellido</label>
                        <input [(ngModel)]="newHijo.nombre" class="firstName" type="text" class="form-control" [ngModelOptions]="{standalone: true}">

                    </div>
                    <div class="form-group">
                        <label for="firstName">Username</label>
                        <input class="form-control" [(ngModel)]="newHijo.username" [ngModelOptions]="{standalone: true}">

                    </div>
                    <div class="form-group">
                        <label for="firstName">Rol</label>
                        <input class="firstName" type="text" class="form-control" [(ngModel)]="newHijo.rol" [ngModelOptions]="{standalone: true}">

                    </div>
                    <div class="form-group">
                        <label for="firstName">Edad</label>
                        <input class="firstName" type="text" class="form-control" [(ngModel)]="newHijo.edad" [ngModelOptions]="{standalone: true}">

                    </div>
                    <button class="btn btn-primary" (click)="guardarHijo()">Guardar</button>
                </div>

                <div>
                    <ul *ngFor="let hijo of hijos">
                        <label>{{hijo.nombre}}</label>>
                        <button (click)="newHijo=hijo; enableNewHijo=true">Editar</button>
                        <button (click)="deleteHijo(hijo)">Eliminar</button>
                    </ul>
                </div>
            </form>
        </li>
    </ul>
</div>