.full-calendar {
    width: 100%;
    height: 40vh;
    text-transform: capitalize;
}

full-calendar {
    text-transform: capitalize;
    /* background-color: aquamarine; */
    height: 50&;
    width: 35em;
    height: 25em;
    padding: 2%;
}