    <h2>FORMULARIO DE REPARACION</h2>
        <form>
        Marca:
        <input type="text" placeholder="Ingresa la marca del Vehiculo">
        Modelo:
        <input type="text" placeholder="Ingresa el modelo del Vehiculo">
        Año:
        <input type="text" placeholder="Ingresa el año del Vehiculo">
        Placa:
        <input type="text" placeholder="Ingresa la placa del Vehiculo">
        Serial del motor:
        <input type="text" placeholder="Ingresa el serial del Vehiculo">
        Color:
        <input type="text" placeholder="Ingresa el color del Vehiculo">
        Kilometraje al llegar:
        <input type="text" placeholder="Ingresa el kilometraje del Vehiculo">
        Nivel tanque de gasolina:
        <input type="text" placeholder="Ingresa el nivel del tanque del Vehiculo">
        Fecha de ingreso: 
        <input type="date" name="fecha">
        Servicio Anterior:
        <textarea name="texto" rows="4" cols="50" placeholder="Indique el servicio realizado anteriormente"></textarea>
        Accesorios:
        <input type="checkbox">Caucho de Respuesto
        <input type="checkbox">Llaves
        <input type="checkbox">Herramientas
        <input type="checkbox">Gato
        <textarea name="texto" rows="4" cols="20"></textarea>
        </form>