<div class="seccion-profile-calendario">
    <ul class="ul-profile-calendario">
        <li class="li-profile">
            <img class="img-perfil" [src]="
            user.photoURL
              ? user.photoURL
              : 'https://support.grasshopper.com/assets/images/care/topnav/default-user-avatar.jpg'" alt="">
            <div class="">
                <p class="palabra-manager">Manager</p>
                <h2>{{username.name}}</h2>
            </div>
        </li>
        <li class="li-profile">
            aqui va el calendario
            <!-- <app-calendar-manager></app-calendar-manager> -->
        </li>
    </ul>
</div>