<div class="mat-grid-wrapper"> 
    <div class="mat-grid-container">
        <mat-grid-list cols="3" rowHeight="16em">
            <mat-grid-tile colspan="1" rowspan="2">
                <div class="image-wrapper">
                    <img class="image" src="https://i.stack.imgur.com/l60Hf.png" alt="">
                    <div class="title-wrapper">
                        <span>gerente</span>
                        <h2>Javier Fuenmayor</h2>
                    </div>
                </div>
                
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2">
                <div class="confirmar-cita">
                    <div class="title-wrapper">
                        <h2>citas</h2>
                    </div>
                    <div class="data-wrapper">
                        <div class="input-data-container">
                            <h3 class="auth-label">pendientes</h3>
                            <span class="input-container-data">10</span>
                        </div>
                        <div class="input-data-container">
                            <h3 class="auth-label">por confirmar</h3>
                            <span class="input-container-data">2</span>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="grid-flex">
                    <div class="title-wrapper">
                        <h2>ordenes de reparacion</h2>
                    </div>
                    <div class="data-wrapper">
                        <div class="input-data-container">
                            <h3 class="auth-label">pendientes</h3>
                            <span class="input-container-data">4</span>
                        </div>
                        <div class="input-data-container">
                            <h3 class="auth-label">por confirmar</h3>
                            <span class="input-container-data">3</span>
                        </div>
                    </div>
                </div>
                
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="grid-flex">
                    <div class="title-wrapper">
                        <h2>reportes</h2>
                    </div>
                    <div class="data-wrapper">
                        <div class="input-data-container">
                            <h3 class="auth-label">pendientes</h3>
                            <span class="input-container-data">7</span>
                        </div>
                        <div class="input-data-container">
                            <h3 class="auth-label">solicitudes</h3>
                            <span class="input-container-data">1</span>
                        </div>
                    </div>
                </div>
                
            </mat-grid-tile>
            
        </mat-grid-list>
    </div>
</div>
