<div class="mecanicopagina">
    <ul class="bloques">
        <li class="indv indva">
            <app-username-bar></app-username-bar>
        </li>
        <li class="indv indvb">
            <p>Codigo QR es dinamico COMPONENTE</p>
            <qrcode [qrdata]="myAngularxQrCode" [width]="250" [errorCorrectionLevel]="'M'" [elementType]="'img'"></qrcode>
        </li>
        <li class="indv indvc">
            <div class="grid-flex">
                <div class="title-wrapper">
                    <h2>datos del vehiculo</h2>
                </div>
                <div class="data-wrapper">
                    <div class="input-data-container">
                        <h3 class="auth-label">marca</h3>
                        <span class="input-container-data">Chevrolet</span>
                        <!-- <span class="input-container-data">{{car.brand}}</span> -->
                    </div>
                    <div class="input-data-container">
                        <h3 class="auth-label">placa</h3>
                        <span class="input-container-data">ahhdhsak</span>
                        <!-- <span class="input-container-data">{{car.plate}}</span> -->
                    </div>
                    <div class="input-data-container">
                        <h3 class="auth-label">modelo</h3>
                        <span class="input-container-data">captiva</span>
                        <!-- <span class="input-container-data">{{car.model}}</span> -->
                    </div>
                    <div class="input-data-container">
                        <h3 class="auth-label">año</h3>
                        <span class="input-container-data">2009</span>
                        <!-- <span class="input-container-data">{{car.year}}</span> -->
                    </div>
                    <div class="input-data-container container-texto">
                        <h3 class="auth-label">falla identificada</h3>
                        <span class="input-container-data">motor</span>
                        <!-- <span class="input-container-data longer">{{car.year}}</span> -->
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- <app-scannerqr></app-scannerqr> -->