.form{
    position: absolute;
  border: solid;
  width: 50%;
  margin-left: 25%;
  margin-top: -24%;
  padding: 1%;
}

button{
    background: #6AB8E3;
    margin-top: 33%;
    margin-left: 6%;
  }
  