<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->
<!--<app-footer></app-footer>-->



<!--<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-nav-side-responsive (sidenavClose)="sidenav.close()"></app-nav-side-responsive>

    </mat-sidenav>
    <mat-sidenav-content>
        <app-navbar-responsive (sidenavToggle)="sidenav.toggle()"></app-navbar-responsive>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>-->
