@import "../../../styles/Lib/variables.scss";
@import "../../pages/manager-page/manager-page.component.scss";
@import "../../../styles/Lib/mixins.scss";
.all-wrapper {
    margin: 5% 0%;
    @include small-phone {
        // background-color: yellow;
        margin: 50% 0%;
    }
}

.btn {
    background-color: $third-color;
    display: flex;
    justify-content: center;
}

.descargar-button {
    background-color: #6AB8E3;
    padding: 5%;
    color: white;
    border: 0em;
    border-radius: 0.5em;
}

.example-container {
    height: 68vh;
    overflow: auto;
    // overflow-x: hidden;
    @include small-phone {
        // overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

// .btn{
//   background-color: $third-color;
//   display: flex;
//   justify-content: center;
// }
.columna {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    font-family: $primary-font;
    font-size: 1.2em;
    word-spacing: 0.2em;
    line-height: 1.8em;
    @include small-phone {
        font-size: 0.9em;
        line-height: 3.2em;
    }
}

.auth-form {
    margin-top: -35%;
}

.botonesacr {
    // background-color: green;
}

.aceptar:hover {
    background-color: rgba(61, 248, 101, 0.938);
}

.cambiarfecha:hover {
    background-color: rgba(245, 248, 61, 0.938);
}

.rechazar:hover {
    background-color: rgba(248, 74, 61, 0.938);
}

.ngcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0% 4%;
    background-color: $third-color;
    font-family: $primary-font;
}

mat-card-actions {
    // background-color: yellow;
    display: flex;
    justify-content: space-around;
}

mat-paginator {
    background-color: $third-color;
}

.pruebatablecontainer {
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    @include small-phone {
        width: 90%;
    }
    // background-color: yellow;
}

.table-container {
    // background-color: chartreuse;
    display: flex;
    justify-content: center;
    @include small-phone {
        overflow: hidden;
        margin-top: 1%;
        // width: 1em;
        // margin-left: 11.3em;
    }
}

table {
    // background-color: beige;
    font-family: $primary-font;
    // // font-size: 0.85em;
    text-transform: uppercase;
    // width: 0.5em;
    width: 90%;
    // border-bottom: 0.1em solid $secondary-color;
    // background-color: aqua;
    @include tablet {
        width: 90%;
    }
    @include small-phone {
        // display: none;
        // width: 5%;
        // background-color: yellow;
        // background-color: rgb(146, 107, 107);
    }
}


/* 
mat-card {
    width: 100%;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
}

mat-card-title {
    font-family: $third-font;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.1vw;
}

mat-card-subtitle {
    font-family: $third-font;
    text-transform: capitalize;
    letter-spacing: 0.1vw;
    font-weight: 500;
}
*/