@import "../../../styles/Lib/variables.scss";
@import "../../pages/manager-page/manager-page.component.scss";

  
.all-wrapper {
  margin: 5% 0%;
}

.btn{
  background-color: $third-color;
  display: flex;
  justify-content: center;
}

.columna {
  display: flex;
  flex: row;
}

.ngcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2% 0% 4%;
  background-color: $third-color;
  font-family: $third-font;
}

mat-paginator{
  background-color: $third-color;
}
  
mat-card {
  width: 100%;
  justify-content: center;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
}

mat-card-title {
  font-family: $third-font;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.1vw;
}

mat-card-subtitle {
  font-family: $third-font;
  text-transform: capitalize;
  letter-spacing: 0.1vw;
  font-weight: 500;
}

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    max-width: 15vw;
    max-height: 20vh;
  }

  .container-info {
    display: flex;
    flex-direction: row;
  }

  .car-image{
    max-width: 12vw;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
    max-width: 5%;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  @media only screen and (max-width: 768px) {

    .centro {
      display: flex;
      justify-content: center;
    }
    .grandeqr{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    
    table {
      width: 100%;
    }
    
  .btn{
    background-color: $third-color;
    display: flex;
    justify-content: center;
    margin-top: 50%;
  }
  
  .ngcontainer {
    display: flex;
    justify-content: center;
    padding: 2% 0% 4%;
    background-color: $third-color;
  }
  
  mat-paginator{
    background-color: $third-color;
  }
    
  mat-card {
    width: 90%;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    border: 2px solid;
  }
  
  mat-card-title {
    display: flex;
    justify-content: center;
    font-family: $third-font;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.2vw;
  }
  
  mat-card-subtitle {
    display: flex;
    justify-content: center;
    font-family: $third-font;
    text-transform: capitalize;
    letter-spacing: 0.2vw;
    font-weight: 500;
  }
    .columna {
      display: flex;
      flex-direction: column;
    }
  
    tr.example-detail-row {
      height: 0;
    }
    
    tr.example-element-row:not(.example-expanded-row):hover {
      background: whitesmoke;
    }
    
    tr.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }
    
    .example-element-row td {
      border-bottom-width: 0;
    }
    
    .example-element-detail {
      overflow: hidden;
      display: flex;
    }
    
    .example-element-diagram {
      min-width: 80px;
      border: 2px solid black;
      padding: 8px;
      font-weight: lighter;
      margin: 0;
      max-width: 15vw;
      max-height: 20vh;
    }
  
    .container-info {
      display: flex;
      justify-content: center;
      
      
    }
  
    .car-image{
      max-width: 50vw;
      margin-left: auto;
    }
    
    .example-element-symbol {
      font-weight: bold;
      font-size: 40px;
      line-height: normal;
      max-width: 5%;
    }
    
    .example-element-description {
      padding: 16px;
    }
    
    .example-element-description-attribution {
      opacity: 0.5;
    }

    .font{
      font-size: 150%;
    } 

    ul {
      justify-self: center;
      font-size: 150%;
    }
  }