<div class="all-wrapper">
    <h2>cola de citas</h2>
    <div class="folder-container">
        <div class="folder">
            <ul class="botonesumg">
                <li class="botonesumghijos"><button class="botoncitoumg" (click)="getAppsToShow(1)">solicitadas</button></li>
                <li class="botonesumghijos"><button class="botoncitoumg" (click)="getAppsToShow(2)">por confirmar</button></li>
                <li class="botonesumghijos"><button class="botoncitoumg" (click)="getAppsToShow(3)">confirmadas</button></li>
            </ul>
        </div>
    </div>
    
    <div class="table-container">
        <table mat-table
            [dataSource]="citas" multiTemplateDataRows
            class="mat-elevation-z8">
            <ng-container matColumnDef="car">
                <th mat-header-cell *matHeaderCellDef> Carro </th>
                <td mat-cell *matCellDef="let element"> {{element.carInfo}} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="order status">
                <th mat-header-cell *matHeaderCellDef> Estado de la cita</th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef> dueño </th>
                <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let appointment" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="appointment == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="ngcontainer" >
                        <mat-card>
                            <mat-card-title>{{appointment.userName}}</mat-card-title>
                            <mat-card-subtitle>{{appointment.carInfo}} </mat-card-subtitle>
                            <mat-card-content class="container-info">
                                <div class="columna">
                                    <div>
                                        <img class="car-image" src={{appointment.carPhoto}} alt="">
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Fecha Solicitada: {{appointment.dateCreated}}</li>
                                            <li>Fecha Propuesta: {{appointment.date}}</li>
                                            <li>Estado de la cita: {{appointment.estado}}</li>
                                        </ul>
                                    </div>
                                    <div class="font">
                                        <div class="example-element-description">
                                            <span class="example-element-description-attribution"> Motivo de la cita -- </span>
                                            {{appointment.diagnosis}}
                                        </div>
                                    </div>
                                    <div class="container" *ngIf="appointment.estado === 'confirmada'">
                                        <h3 class="font">QRCode de la cita</h3>
                                    </div>
                                    <div *ngIf="appointment.estado === 'confirmada'">
                                        <div class="grandeqr">
                                            <ngx-qrcode
                                                [elementType]="elementType"
                                                [errorCorrectionLevel]="correctionLevel"
                                                value={{appointment.appId}}
                                                cssClass="coolQRCode">
                                            </ngx-qrcode>
                                        </div>
                                        <div class="centro">
                                            <button (click)="downloadQRCode(appointment)">Descarga el codigo QR</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                            <div *ngIf="isManager">
                                <mat-card-actions *ngIf="appointment.estado === 'solicitada'" >
                                    <button *ngIf="!cambiarFecha" mat-flat-button (click)="aceptApp(appointment)">Aceptar Cita</button> 
                                    <button mat-flat-button *ngIf="!cambiarFecha" (click)="selecDate()">Cambiar Fecha</button> 
                                    <button mat-flat-button *ngIf="!cambiarFecha">Rechazar Cita</button> 
                                    
                                    <form [formGroup]="dayForm" *ngIf="cambiarFecha">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label class="auth-label">Fecha propuesta para la reprogramacion</mat-label>
                                            <input [matDatepickerFilter]="myFilter" [min]="minDate" 
                                            [max]="maxDate"  formControlName="appointmentDate" matInput [matDatepicker]="datepicker" />
                                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                            <mat-datepicker  #datepicker>
                                                <mat-datepicker-actions>
                                                <button mat-button matDatepickerCancel>Cancel</button>
                                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                                </mat-datepicker-actions>
                                            </mat-datepicker>
                                        </mat-form-field>
                                        <button mat-flat-button *ngIf="cambiarFecha" (click)="modifyApp(appointment)">confirmar cambio</button> 
                                        <button mat-flat-button *ngIf="cambiarFecha" (click)="selecDate()">volver</button> 
                                    </form>
                                </mat-card-actions>
                            </div>
                            <div *ngIf="!isManager">
                                <mat-card-actions *ngIf="appointment.estado == 'solicitada'" >
                                    <button *ngIf="!cambiarFecha" mat-flat-button (click)="aceptAppClient(appointment)">Confirmar cita</button> 
                                    <button mat-flat-button *ngIf="!cambiarFecha" (click)="selecDate()">Solicitar cambiar Fecha</button> 
                                    <button mat-flat-button *ngIf="!cambiarFecha">Rechazar Cita</button> 
                                    <form [formGroup]="dayForm" *ngIf="cambiarFecha">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label class="auth-label">Fecha propuesta para la reprogramacion</mat-label>
                                            <input [min]="minDate" 
                                            [max]="maxDate"  formControlName="appointmentDate" matInput [matDatepicker]="datepicker" />
                                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                            <mat-datepicker  #datepicker>
                                                <mat-datepicker-actions>
                                                <button mat-button matDatepickerCancel>Cancel</button>
                                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                                </mat-datepicker-actions>
                                            </mat-datepicker>
                                        </mat-form-field>
                                        <button mat-flat-button *ngIf="cambiarFecha" (click)="modifyAppClient(appointment)">confirmar cambio</button> 
                                        <button mat-flat-button *ngIf="cambiarFecha" (click)="selecDate()">volver</button> 
                                    </form>
                                </mat-card-actions>
                            </div>
                            
                        </mat-card>
                    </div>
                </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>

</div>



<!--  
<div>
    <div class="btn">
        <h2>cola de citas</h2>
    </div>
<mat-paginator [length]="citas.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[1]"
              (page)="getPaginatorData($event)">
</mat-paginator>
    <ng-container *ngFor="let appointment of (citas | slice: lowValue : highValue)" >
        <div class="ngcontainer" >
            <mat-card>
                <mat-card-title>{{appointment.userName}}</mat-card-title>
                <mat-card-subtitle>{{appointment.carInfo}} </mat-card-subtitle>
                <mat-card-content class="container-info">
                    <div class="columna">
                        <div>
                            <img class="car-image" src={{appointment.carPhoto}} alt="">
                        </div>
                        <div>
                            <ul>
                                <li>Fecha Solicitada: {{appointment.dateCreated}}</li>
                                <li>Fecha Propuesta: {{appointment.date}}</li>
                                <li>Estado de la cita: {{appointment.estado}}</li>
                            </ul>
                        </div>
                        <div class="font">
                            <div class="example-element-description">
                                <span class="example-element-description-attribution"> Motivo de la cita -- </span>
                                {{appointment.diagnosis}}
                            </div>
                        </div>
                        <div class="container" *ngIf="appointment.estado === 'confirmada'">
                            <h3 class="font">QRCode de la cita</h3>
                        </div>
                        <div *ngIf="appointment.estado === 'confirmada'">
                            <div class="grandeqr">
                                <ngx-qrcode
                                    [elementType]="elementType"
                                    [errorCorrectionLevel]="correctionLevel"
                                    value={{appointment.appId}}
                                    cssClass="coolQRCode">
                                </ngx-qrcode>
                            </div>
                            <div class="centro">
                                <button (click)="downloadQRCode(appointment)">Descarga el codigo QR</button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <div *ngIf="isManager">
                    <mat-card-actions *ngIf="appointment.estado === 'solicitada'" >
                        <button *ngIf="!cambiarFecha" mat-flat-button (click)="aceptApp(appointment)">Aceptar Cita</button> 
                        <button mat-flat-button *ngIf="!cambiarFecha" (click)="selecDate()">Cambiar Fecha</button> 
                        <button mat-flat-button *ngIf="!cambiarFecha">Rechazar Cita</button> 
                        
                        <form [formGroup]="dayForm" *ngIf="cambiarFecha">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label class="auth-label">Fecha propuesta para la reprogramacion</mat-label>
                                <input [min]="minDate" 
                                [max]="maxDate"  formControlName="appointmentDate" matInput [matDatepicker]="datepicker" />
                                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                <mat-datepicker  #datepicker>
                                    <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                    </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>
                            <button mat-flat-button *ngIf="cambiarFecha" (click)="modifyApp(appointment)">confirmar cambio</button> 
                            <button mat-flat-button *ngIf="cambiarFecha" (click)="selecDate()">volver</button> 
                        </form>
                    </mat-card-actions>
                </div>
                <div *ngIf="!isManager">
                    <mat-card-actions *ngIf="appointment.estado == 'solicitada'" >
                        <button *ngIf="!cambiarFecha" mat-flat-button (click)="aceptAppClient(appointment)">Confirmar cita</button> 
                        <button mat-flat-button *ngIf="!cambiarFecha" (click)="selecDate()">Solicitar cambiar Fecha</button> 
                        <button mat-flat-button *ngIf="!cambiarFecha">Rechazar Cita</button> 
                        <form [formGroup]="dayForm" *ngIf="cambiarFecha">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label class="auth-label">Fecha propuesta para la reprogramacion</mat-label>
                                <input [min]="minDate" 
                                [max]="maxDate"  formControlName="appointmentDate" matInput [matDatepicker]="datepicker" />
                                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                <mat-datepicker  #datepicker>
                                    <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                    </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>
                            <button mat-flat-button *ngIf="cambiarFecha" (click)="modifyAppClient(appointment)">confirmar cambio</button> 
                            <button mat-flat-button *ngIf="cambiarFecha" (click)="selecDate()">volver</button> 
                        </form>
                    </mat-card-actions>
                </div>
                
            </mat-card>
        </div>
    </ng-container>
    
<!--<div class="table-wrapper">
    <table mat-table
        [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8">
    <ng-container matColumnDef="Detalles del carro ">
        <th mat-header-cell *matHeaderCellDef> Detalles del carro  </th>
        <td mat-cell *matCellDef="let element"> {{element.carInfo}} </td>  
    </ng-container>
    <ng-container matColumnDef="Usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario  </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>  
    </ng-container>
    <ng-container matColumnDef="Fecha solicitada">
        <th mat-header-cell *matHeaderCellDef> Fecha solicitada  </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>  
    </ng-container>
    <ng-container matColumnDef="Fecha de la cita">
        <th mat-header-cell *matHeaderCellDef> Fecha de la cita  </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>  
    </ng-container>
    <ng-container matColumnDef="estado de la cita">
        <th mat-header-cell *matHeaderCellDef> estado de la cita  </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>  
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram">
                    <div class="example-element-position"> {{element.userName}} </div>
                    <div class="example-element-symbol"> 
                        <img class="car-image" src={{element.carPhoto}} alt="">
                    </div>
                    <div class="example-element-name"> {{element.carInfo}}</div>
                    <div class="example-element-weight">  </div>
                </div>
                <div>

                </div>
                <div class="example-element-description">
                    <span class="example-element-description-attribution"> Motivo de la cita -- </span>
                    {{element.diagnosis}}
                </div>
                <div class="example-element-description">
                    <button *ngIf="!cambiarFecha" mat-flat-button (click)="aceptAppClient(element)">Confirmar cita</button> 
                    <button mat-flat-button *ngIf="!cambiarFecha" (click)="onClick()">Solicitar cambiar Fecha</button> 
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
       <mat-datepicker #picker ></mat-datepicker>
                    <button mat-flat-button *ngIf="!cambiarFecha">Rechazar Cita</button> 
                    <form [formGroup]="dayForm" *ngIf="cambiarFecha">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label class="auth-label">Fecha propuesta para la reprogramacion</mat-label>
                            <input [min]="minDate" 
                            [max]="maxDate" [matDatepickerFilter]="dateFilter" formControlName="appointmentDate" matInput [matDatepicker]="datepicker" />
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker  #datepicker>
                                <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                        <button mat-flat-button *ngIf="cambiarFecha" (click)="modifyAppClient(element)">confirmar cambio</button> 
                        <button mat-flat-button *ngIf="cambiarFecha" (click)="selecDate()">volver</button> 
                    </form>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element ; getCarAndUser(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</div>-->
