<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a  mat-list-item [routerLink]="['/']">Home</a>
      <a  mat-list-item (click)="click()">Perfil</a>
      <a  mat-list-item [routerLink]="['/']">Vehiculos</a>
      <a  mat-list-item [routerLink]="['/']">Citas</a>
      <a  mat-list-item [routerLink]="['/']">Nosotros</a>
      <a  mat-list-item [routerLink]="['/']">Contacto</a>
      <a  mat-list-item [routerLink]="['/']">Ubicacion</a>
      <a mat-list-item [routerLink]="['/log-in']">Login</a>
      <a mat-list-item [routerLink]="['/sign-up']">Sign Up</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">
          <!-- <svg height="40pt" fill=white viewBox="0 -53 384 384" width="30pt" xmlns="http://www.w3.org/2000/svg"><path d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/><path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/><path d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/></svg> -->
          <img src="../../../assets/gaboruimotors white.png" alt="Gaboruilogo" class="logofoto" height="40px"   width="200px">
        </mat-icon>
      </button>
      <a [routerLink]="['/']" class="logo">
        <img src="../../../assets/logo ejwhite.png" alt="Gaboruilogo" height="100%" class="logofoto">
    </a>
      <span class="spacer2"></span>
      <a [routerLink]="['/']">Home</a>
      <a *ngIf="user" (click)="click()">Perfil</a>
      <a *ngIf="user" [routerLink]="['/']">Vehiculos</a>
      <a *ngIf="user" [routerLink]="['/']">Citas</a>
      <a *ngIf="!user" [routerLink]="['/']">Nosotros</a>
      <a *ngIf="!user" [routerLink]="['/']">Contacto</a>
      <a *ngIf="!user" [routerLink]="['/']">Ubicacion</a>
      <span class="spacer"></span>
      <a *ngIf="!user" [routerLink]="['/log-in']">Login</a>
      <a *ngIf="!user" [routerLink]="['/sign-up']">Sign Up</a>
      <a *ngIf="user">
        <!-- <p>{{ user.displayName }}</p> -->
        <img [src]="
        user.photoURL
          ? user.photoURL
          : 'https://support.grasshopper.com/assets/images/care/topnav/default-user-avatar.jpg'
      " class="photo" /></a>
      <a *ngIf="user"><button type="button" (click)="logOutUser()"><!-- (click)="logout() -->
        <svg height="40px" viewBox="0 0 511 512" width="40px" xmlns="http://www.w3.org/2000/svg" class="logoutfoto">
            <path d="m361.5 392v40c0 44.113281-35.886719 80-80 80h-201c-44.113281 0-80-35.886719-80-80v-352c0-44.113281 35.886719-80 80-80h201c44.113281 0 80 35.886719 80 80v40c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20v-40c0-22.054688-17.945312-40-40-40h-201c-22.054688 0-40 17.945312-40 40v352c0 22.054688 17.945312 40 40 40h201c22.054688 0 40-17.945312 40-40v-40c0-11.046875 8.953125-20 20-20s20 8.953125 20 20zm136.355469-170.355469-44.785157-44.785156c-7.8125-7.8125-20.476562-7.8125-28.285156 0-7.8125 7.808594-7.8125 20.472656 0 28.28125l31.855469 31.859375h-240.140625c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h240.140625l-31.855469 31.859375c-7.8125 7.808594-7.8125 20.472656 0 28.28125 3.90625 3.90625 9.023438 5.859375 14.140625 5.859375 5.121094 0 10.238281-1.953125 14.144531-5.859375l44.785157-44.785156c19.496093-19.496094 19.496093-51.214844 0-70.710938zm0 0"/>
        </svg></button></a>
    </mat-toolbar>
    <!-- Add Content Here --> 
    <router-outlet></router-outlet> 
  </mat-sidenav-content>
</mat-sidenav-container>
