@import "../../../styles/Lib/variables.scss";
@import "../../../styles/Lib/mixins.scss";
form {
    padding: 0px;
}

input {
    font-family: $secondary-font;
}

.example-full-width {
    width: 100%;
}

mat-select {
    width: 16em;
    background-color: rgb(237, 249, 250);
    border: 2px solid $primary-color;
    font-family: $secondary-font;
}
    

img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }

.photo {
    width: 50%;
}

label {
    width: 30%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.auth-form-wrapper {
    display: flex;
    align-items: center;
    width: auto;
    height: 80vh;
    border: 0px;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: $third-color;
}

.auth-label {
    font-family: $primary-font;
    color: $primary-color;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.auth-input {
    display: flex;
    justify-content: right;
    margin-left: 1.5em;
    font-family: $secondary-font;
    font-weight: 400;
    width: 19em;
    text-align: center;
    text-transform: capitalize;
    &.correo {
        text-transform: lowercase;
    }
    &.active {
        background-color: rgb(237, 249, 250);
    }
}

.input {
    width: 50%;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 0px 5%;
}

.form-container {
    width: 100%;
    @include small-phone {
        background-color: yellow;
        width: 200%;
    }
}

.no-acc-text {
    width: 70%;
    text-decoration: none;
    text-align: center;
}

a {
    text-decoration: none;
    font-family: $primary-font;
    color: $primary-color;
}