<body>
    <div class="comp-wrapper">
    <div class="scan-wrapper">
        <button *ngIf="!escanear" (click)="escanear = true">Escanear Qr</button>
        <button *ngIf="escanear" (click)="escanear = false">Cerrar camara</button>
        <div class="scanner-image">
            <zxing-scanner *ngIf="escanear" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
        </div>
        

        <section class="results" *ngIf="qrResultString">
        <div class="scanner-image">
            <small>Result</small>
            <span>{{ qrResultString }}</span><br>
            <span>{{ car.brand }}</span><br>
            <span>{{ car.model }}</span><br>
            <span>{{ car.year }}</span><br>
        </div>
        <button mat-icon-button (click)="clearResult()">&times;</button>
        </section>
    </div>
</div>

</body>
