@import "../../component/orden-reparacion/orden-reparacion.component.scss";
@import "../car-form/car-form.component.scss";
@import "../../../styles/components/scroll.scss";
.datoscliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.2em;
    margin-top: 0%;
    font-family: $primary-font;
    word-spacing: 50%;
    @include tablet {
        // margin-top: 40em;
        // margin-top: 200%;
    }
    @include small-phone {
        // background-color: yellow;
        // margin-top: 400%;
    }
}

.auth-form-wrapper {
    display: flex;
    align-items: center;
    width: auto;
    height: 50%;
    border: 0px;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}