
<div class="info-wrapper">
    <div class="info-container">
        <div class="somos">
            ¿Que nos diferencia del resto?
        </div> 
        <div class="texto">
            En Gaborui Motors contarás con la asistencia para tu vehiculo, contamos con personal técnico especializado, en las marcas más reconocidas de Venezuela.
        </div>
        <div class="texto">
            Servicios Disponibles en Gaborui Motors:
        </div>
        <div class="center">
            <div class="servi"> 
                <p>- Limpieza de inyectores y cambio de kit.</p>
                <p>- Suspensión y tren delantero.</p>
                <p>- Reparación de frenos.</p>
                <p>- Cambio de tripoides guardapolvo.</p>
                <p>- Cambio de rolineras.</p>
                <p>- Reparación de alternadores y arranques.</p>
                </div>
            <div class="servi">
                <p>- Limpieza de inyectores y cambio de kit.</p>
                <p>- Suspensión y tren delantero.</p>
                <p>- Reparación de frenos.</p>
                <p>- Cambio de tripoides guardapolvo.</p>
                <p>- Cambio de rolineras.</p>
                <p>- Reparación de alternadores y arranques.</p>
            </div>
        </div>
    </div>

</div>
       