<div class="gallery">
    <h2>Nuestras instalaciones</h2>
    <mat-grid-list cols="4" row rowHeight="3:2" gutterSize="20px">
        <mat-grid-tile><img src="../../../assets/foto2galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto3galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto4galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile rowspan="2"><img src="../../../assets/foto5galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto6galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto7galeria.png" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto8galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
    </mat-grid-list>
</div>
<div class="phono">
    <h2>Nuestras instalaciones</h2>
</div>
<div class="phono">
    <div class="block1"><img src="../../../assets/foto4galeria.jpg"></div>
</div>
<div class="phono">
    <div class="block1"><img src="../../../assets/foto8galeria.jpg"></div>
</div>
<div class="phono">
    <div class="block1 bck-last"><img src="../../../assets/foto3galeria.jpg"></div>
</div>