mat-grid-tile {
    background: lightblue;
}

.gallery {
    padding: 8% 3% 0em ;
    height: 74%;
}

@media only screen and (max-width: 768px) {
    .gallery {
        padding: 8% 3% 0em ;
        height: 30%;
    }
}