<div class="gallery">
    <mat-grid-list cols="4" rowHeight="2:1" gutterSize="5px">
        <mat-grid-tile><img src="../../../assets/foto1galeria.jpeg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto2galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto3galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto4galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto5galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto6galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto7galeria.png" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/foto8galeria.jpg" alt="foticodegaleriagrid" class="fotos"></mat-grid-tile>
    </mat-grid-list>
</div>