@import "../../../styles/components/text-boxes.scss";
@import "../../../styles/components/buttons.scss";

mat-select {
    width: 47%;
}

.div-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.car-list-wrapper {
    height: 45em;
    max-height: 100%;
    background-color: $secondary-color;
}