<div class="datos-manager-wrapper">
    <div>
        <app-calendar-manager [edit]="uploadSuccess"></app-calendar-manager>
    </div>
    <div>
        <app-vista-gnrl-manager></app-vista-gnrl-manager>
    </div>
</div>
<div>
    <app-appointment-view [isManager]=true (reloadCalendar)="reloadCalendar($event)"></app-appointment-view>
</div>

<div class="app-list-wrapper">
    <h2>ordenes de reparacion</h2>
    <div class="folder-container">
        <div class="folder">
            <ul class="botonesumg">
                <li class="botonesumghijos"><button class="botoncitoumg" (click)="getAppsToShow(1)">En Espera</button></li>
                <li class="botonesumghijos"><button class="botoncitoumg" (click)="getAppsToShow(2)">En Proceso</button></li>
                <li class="botonesumghijos"><button class="botoncitoumg" (click)="getAppsToShow(3)">Terminadas</button></li>
            </ul>
        </div>
    </div>

    <div class="table-container example-container">
        <div class="pruebatablecontainer-ordenreparacion">

            <table mat-table [dataSource]="ordenes" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="car">
                    <th mat-header-cell *matHeaderCellDef> Carro </th>
                    <td mat-cell *matCellDef="let element"> {{element.carInfo}} </td>
                </ng-container>


                <ng-container matColumnDef="mechanic">
                    <th mat-header-cell *matHeaderCellDef> Mecanico </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <app-order-manager [app]="element"></app-order-manager>

                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </div>
    </div>
</div>