@import "../../../styles/components/text-boxes.scss";
@import "../../../styles/components/buttons.scss";

mat-select {
    width: 47%;
}

.car-list-wrapper {
    height: 100%;
    background-color: $secondary-color;
}