@import "../../../styles/components/buttons.scss";
@import "../../../styles/Lib/variables.scss";
@import "../../../styles/Lib/mixins.scss";
@import "../client-form/client-form.component.scss";
.auth-label-largo {
    text-align: center;
    font-family: $secondary-font;
    text-transform: uppercase;
    width: 100%;
}

.images {
    display: flex;
    justify-content: center;
    max-height: 65vh;
}

.photo {
    background-color: yellow;
    width: 100%;
    display: flex;
    align-items: center;
}

.whitebutton {
    text-transform: uppercase;
    background-color: $third-color;
    color: $primary-color;
    margin-top: 10%;
    margin-bottom: 5%;
}

.whitebutton-nomargin {
    text-transform: uppercase;
    background-color: $third-color;
    color: $primary-color;
    font-size: 1.5em;
    height: 25%;
    width: 15%;
    // margin-top: 1%;
    // margin-bottom: 1%;
}

button {
    text-transform: uppercase;
    background-color: $secondary-color;
    color: white;
}